<section>
  <form #form="ngForm">
    <span mat-dialog-title>
      {{ dialogData.title }}
    </span>

    <div fxLayout="column" mat-dialog-content>
      {{ dialogData.text }}
    </div>

    <div mat-dialog-actions>
      <div></div>
      <div>
        <button mat-dialog-close mat-button type="button">Cancel</button>
        <button mat-button color="warn" type="button" (click)="closeDialog()">
          {{ dialogData.confirmText }}
        </button>
      </div>
    </div>
  </form>
</section>
