<div class="flex flex-col">
  <div class="flex flex-col items-center pt-4 gap-12">
    <div class="flex justify-end mb-6 w-full">
      <a color="tertiary" routerLink="new" mat-button>
        <mat-icon>add</mat-icon>
        New article
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-2" *ngIf="loaded">
    @for(article of articles; track article.id; let last = $last){
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title
            mat-button
            [routerLink]="['/blog', article.id]"
            class="cursor-pointer hover:underline"
          >
            {{ article.title }}
          </mat-card-title>
          <mat-card-subtitle>
            <span class="text-xs font-light">
              {{ article.inserted_at | date : 'mediumDate' }}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <span>
          {{
            article.contentPreview ? article.contentPreview : article.content
          }}

          <a
            *ngIf="article.contentPreview"
            routerLinkActive="item-selected"
            class="hover:underline color-primary"
            [routerLink]="['/blog', article.id]"
          >
            Read more...
          </a>
        </span>

        <div class="flex justify-end">
          <a
            routerLinkActive="item-selected"
            [routerLink]="['/blog', article.id, 'edit']"
            mat-button
          >
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
    <div
      style="outline: 1px dashed"
      *ngIf="!last"
      class="outline-primary-container"
    ></div>
    }
  </div>
</div>
