mat-card-header {
  border: 0px !important;
}

.no-underline {
  text-decoration-line: none !important;
}

.content-text {
  line-height: 1.6em; /* Set the line height */
  height: calc(1.6em * 5);
  overflow: hidden;
}
