<div class="flex flex-col">
  <div class="flex flex-col items-center pt-4 gap-12">
    <div class="flex justify-end mb-6 w-full">
      <a color="tertiary" routerLink="new" mat-button>
        <mat-icon>add</mat-icon>
        New article
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-2" *ngIf="loaded">
    @for(article of articles; track article.id; let last = $last){
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-header
          mat-button
          [routerLink]="['/blog', article.id]"
          class="cursor-pointer hover:underline"
        >
          <mat-card-title>
            <div
              class="flex flex-row gap-4 justify-between w-full items-center"
            >
              <span class="shrink">{{ article.title }}</span>
              <span class="text-xs flex-shrink-0">
                {{ article.inserted_at | date : 'mediumDate' }}
              </span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <p>
          {{
            article.contentPreview ? article.contentPreview : article.content
          }}

          <a
            *ngIf="article.contentPreview"
            routerLinkActive="item-selected"
            class="hover:underline color-primary"
            [routerLink]="['/blog', article.id]"
          >
            Read more...
          </a>
        </p>

        <div class="flex justify-end">
          <a
            routerLinkActive="item-selected"
            [routerLink]="['/blog', article.id, 'edit']"
            mat-button
          >
            Edit
          </a>
        </div>
      </mat-card-content>
    </mat-card>
    <div
      style="outline: 1px dashed"
      *ngIf="!last"
      class="outline-primary-container"
    ></div>
    }
  </div>
</div>
