<ng-container *transloco="let t">
  <div class="page-container mt-4">
    <app-about-header></app-about-header>
    <mat-card appearance="outlined" class="mt-4">
      <mat-card-header>
        <mat-card-title
          class="flex flex-col items-center justify-center w-full mb-8 mt-4 gap-4"
        >
          <h2 class="text-center emoji-color-primary mb-2">
            {{ t('about.greeting') }} 👋
          </h2>
          <app-about-socials></app-about-socials>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-about-content></app-about-content>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
