.lang-button {
  @apply opacity-25 hover:opacity-100;
  transition: opacity 0.3s ease;
  text-align: center;
  font-size: 1.5em;
  top: 0;

  &.active {
    @apply opacity-100;
  }
}
.image-cover {
  @apply h-6 w-6;
  background-size: cover;
}
.github {
  background-image: url("/assets/images/github.png");
}

.stackoverflow {
  background-image: url("/assets/images/stackoverflow.png");
}

.linkedin {
  background-image: url("/assets/images/linkedin.png");
}
