<mat-card [appearance]="'outlined'" class="h-full">
  <mat-card-content>
    <form
      [formGroup]="articleForm"
      *ngIf="articleForm && article"
      (ngSubmit)="onSubmit()"
      class="flex flex-col h-full"
    >
      <mat-card-header>
        <mat-card-title>
          <div
            class="flex sm:flex-row items-start flex-col justify-between flex-wrap"
          >
            <button
              type="button"
              mat-icon-button
              (click)="back()"
              class="xs:mb-0 mb-2"
            >
              <mat-icon>arrow_back</mat-icon>
              <span class="sm: hidden">back</span>
            </button>
            <textarea
              cdkTextareaAutosize
              type="text"
              class="page-title self-center text-center flex-1 text-3xl font-light overflow-hidden outline-offset-0 bg-transparent select-none outline-none"
              matInput
              #input
              [appTogglablePlaceholder]="'Title'"
              formControlName="title"
              [maxLength]="100"
            >
            </textarea>
            <!-- <span class="flex page-title justify-center text-3xl font-light">
              {{ title?.value }}
              {{ articleForm.dirty ? '*' : '' }}
            </span> -->
          </div>
          <div class="flex flex-col text-end items-end justify-between">
            <span
              [ngClass]="{
                'opacity-50': articleForm.dirty,
                'opacity-0': articleForm.pristine
              }"
            >
              *
            </span>
            <span class="self-end text-xs opacity-50">
              {{ title?.value?.length ?? 0 }} / 100
            </span>
          </div>
        </mat-card-title>
      </mat-card-header>
      <div class="grow">
        <editor
          class="editor"
          [ngClass]="{ 'opacity-0': !editorInitialized }"
          [apiKey]="editorApiKey"
          formControlName="content"
          [init]="init"
        >
        </editor>

        <div class="mt-8 flex flex-col">
          <span>tags:</span>
          <mat-chip-set class="pt-2">
            <mat-chip *ngFor="let tag of tags?.value">
              <div class="flex flex-row justify-start items-center">
                <span class="text-xs">{{ tag }}</span>
                <button matChipRemove (click)="onRemoveTag(tag)" type="button">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </mat-chip>
          </mat-chip-set>
          <div>
            <mat-form-field appearance="outline">
              <input
                matInput
                [appTogglablePlaceholder]="'New tag'"
                [(ngModel)]="newTag"
                [ngModelOptions]="{ standalone: true }"
                (keydown)="onAddTag($event)"
                (keydown.enter)="$event.preventDefault()"
              />

              <button
                matSuffix
                mat-icon-button
                class="mr-2"
                (click)="onAddTag()"
                type="button"
              >
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div
          class="flex sm:flex-row flex-col-reverse justify-between gap-4 pt-4"
        >
          <div class="flex sm:flex-row flex-col-reverse justify-start gap-4">
            <button
              (click)="onDelete()"
              *ngIf="id"
              color="warn"
              mat-button
              type="button"
            >
              Delete
            </button>
            <button
              *ngIf="id"
              mat-button
              type="button"
              (click)="onRestore()"
              [disabled]="articleForm.pristine"
            >
              Restore
            </button>
          </div>
          <div class="flex sm:flex-row flex-col-reverse justify-end gap-4">
            <button mat-button type="button" (click)="toggleEdit()">
              Preview
            </button>
            <button mat-flat-button [disabled]="articleForm.pristine">
              Save
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col items-end justify-end pt-4"
        *ngIf="articleForm.get('title')?.invalid"
      >
        <p class="color-error" *ngFor="let message of errorMessages">
          * {{ message }}
        </p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
