<!-- <mat-button-toggle-group
  [hideSingleSelectionIndicator]="true"
  [value]="themeService.themeType()"
  (change)="this.themeService.toggleThemeType()"
>
  <mat-button-toggle
    (click)="this.themeService.selectTheme('light')"
    value="light"
  >
    <mat-icon>light_mode</mat-icon>
  </mat-button-toggle>
  <mat-button-toggle
    (click)="this.themeService.selectTheme('dark')"
    value="dark"
  >
    <mat-icon>dark_mode</mat-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
 -->
<!-- transform the above functionality in just one switching button-->
<div>
  <button
    mat-icon-button
    color="primary"
    (click)="this.themeService.toggleThemeType()"
  >
    <mat-icon class="navbar-button-icon">
      {{
        this.themeService.themeType() === 'light' ? 'dark_mode' : 'light_mode'
      }}
    </mat-icon>
  </button>
</div>
