<div>
  <mat-card-header>
    <mat-card-title>😊 Welcome! </mat-card-title>
  </mat-card-header>
  <div>
    <p>
      Welcome to my little corner of the internet. Happy to see you here! And
      since you're here, it means that either I have sent you the link to tell
      me what you think of my personal website, or it means that you are
      interested in a collaboration with me - 🙌 yay!
    </p>
  </div>
  @if (tldrMode){
  <mat-card-header class="flex-row flex justify-between items-center">
    <mat-card-title>🤓 On one side... </mat-card-title>
    <button mat-button (click)="toggleTldrMode()">🫶 Full text</button>
  </mat-card-header>
  <div>
    <p>
      I'm a full-stack software engineer with over 5 years of hands-on
      experience developing scalable business web applications. My preffered
      tools at the moment are Angular, .NET Core, and the Azure cloud platform.
      I'm a strong advocate for clean, maintainable code and believe in thinking
      twice before coding.
    </p>
    <p>
      My primary focus is now working on front-end development, where I
      specialize in building responsive, accessible, and performant web
      applications. Nonetheless, I very much enjoy working on the back-end as
      well, where I have experience in building RESTful APIs, microservices, and
      serverless applications.
    </p>
    <p>
      I am very comfortable working under both Windows and Unix environments and
      I feel right at home in the terminal. I have experience with setting up
      and maintaining CI/CD pipelines, infrastructure as code, and monitoring
      tools. I have worked with both relational and non-relational databases,
      with hands-on experience with Microsoft SQL Server, MongoDB, and
      serverless databases like Firebase.
    </p>
    <p>
      My experience spans a variety of business projects in an agile
      environment. Having been part of a relatively small team, I have had the
      opportunity to wear many hats, which has given me a broader view of the
      software development process. My experience also spans project management,
      sprint planning, and client communication, allowing me to work closely
      with stakeholders and diverse teams.
    </p>
    <div class="text-center pt-5">
      <span
        >🌍 🌌 🧘‍♂️ 🎶 📸 🚴‍♂️ 🛹 🌊 🌲 🌞 🌙 🌠 🌈 🌺 🌻 🌼 🌷 🌹 🌸 🌿 🍀 🍁 🍂 🍃
      </span>
      <h4 class="color-primary">
        I'm also a human, passsionate about life and human stuff.
      </h4>
      <span
        >🌾 🌱 🌎 🌏 🌍 🌋 🏔️ 🏞️ 🌄 🌅 🌆 🌇 🕉️ 🌉 🌌 🎇 🎆 🌠 🌟 🌞 🌝 🌛 🌜 🌚
        🌙
      </span>
    </div>
  </div>
  } @if (!tldrMode){
  <mat-card-header class="flex-row flex justify-between items-center">
    <mat-card-title>🤓 On one side... </mat-card-title>
    <button mat-button (click)="toggleTldrMode()">🥱 TL;DR</button>
  </mat-card-header>
  <div>
    <p>
      I'm a dedicated full-stack software engineer with a passion for creating
      seamless user experiences. I have been working in the tech industry
      building scalable web applications since 2017, and turning ideas into
      robust digital experiences that are both visually appealing and highly
      functional brings deep satisfaction to me and are the reason I love what I
      do.
    </p>
    <p>
      With a solid foundation in Angular, .NET Core, and the Azure cloud
      platform, my experience spans the development of the entire application
      lifecycle. I have a strong understanding of software development best
      practices, including version control, code reviews, and continuous
      integration.
    </p>
    <p>
      I am very comfortable working under both Windows and Unix environments and
      I feel right at home in the terminal. I have fundamental knowledge of
      Docker and I very frequently use shell tools both for work and for my
      daily life. I have experience with setting up and maintaining CI/CD
      pipelines, infrastructure as code, and monitoring tools. I have worked
      with both relational and non-relational databases, with hands-on
      experience with Microsoft SQL Server, MongoDB, and serverless databases
      like Firebase.
    </p>
    <p>
      My experience spans a variety of business projects in an agile
      environment. Having been part of a relatively small team, I have had the
      opportunity to wear many hats, which has given me a broader view of the
      software development process. My experience also spans project management,
      sprint planning, and client communication, allowing me to work closely
      with stakeholders and diverse teams, deciding on the best course of
      action, and ensuring that we are able to deliver projects in a manner that
      drives real business growth.
    </p>
    <p>
      Although when I started working my focus was on back-end development, I
      quickly found a passion for the front-end and have since become a
      full-stack developer. My primary focus is now on front-end development,
      where I specialize in building responsive, accessible, and performant web
      applications. Nonetheless, I very much enjoy working on the back-end as
      well, where I have experience in building RESTful APIs, microservices, and
      serverless applications.
    </p>

    <p>
      I feel most satisfied me when my work is bringing value to the table by
      leveraging my technical skills. Both code quality and user experience are
      equally important to me. My value lies in my ability to understand the big
      picture while paying close attention to the smallest details. I'm a team
      player, a lifelong seeker, and a firm believer in the power of positive
      thinking.
    </p>

    <p>
      Being a lifelong seeker with curiosity sitting in the driver's seat, my
      position is that we should never stop being students of life. Learning new
      things and perfecting the craft are a lifetime journey one undertakes if
      one wants to taste the sweet fruits this world has to offer.
    </p>
  </div>

  <mat-card-header>
    <mat-card-title>🤩 On the other side... </mat-card-title>
  </mat-card-header>
  <div>
    <p>
      I'm a strong believer in the power of the mind and the importance of
      self-awareness. I believe that the key to a fulfilling life is to be fully
      present in the moment, engaged in our activity, without being entangled in
      various other directions. To be grateful for what we have, to be kind to
      ourselves and others, to be open to new experiences, and to be willing to
      learn and grow from our mistakes are values that I hold dear.
    </p>

    <p>
      <!-- Learning about the diverse intricate aspects of this life are what create
      the most joy in my heart.  -->
      When I'm not coding, you'll likely find me learning wonders of the world
      around me, through couses, books and podcasts. I also enjoy photography,
      making music, and I very much love being out near the sea. I specially
      enjoy biking, skating and endless walk & talk's. My daily processes
      involves meditating and deep thinking of ways to improve myself, the life
      I live, and the work I do.
    </p>

    <p>
      I'm a firm believer in the power of positive thinking - which is none
      other than a solution-oriented mindset, harmoniously finding resolution in
      situations where it is not immediately apparent, instead of panicking
      because of the problem itself.
    </p>

    <p>
      I believe that we create our own reality within our minds, and that we
      have the power to shape our lives in the ways we choose. The Objective
      Universe acting as a mirror will always be there to guide us in the right
      direction, even when we don't see it as such. I consider clarity of mind,
      purity of heart and sincerity of action as keys to unlocking the doors to
      the wonders of this life.
    </p>

    <div class="text-center pt-5">
      <h4 class="color-primary">
        Give me a shout if you want collaborate or just to say hi!
      </h4>
      <span>🕉️</span>
    </div>
  </div>
  }
</div>
