@use '@angular/material' as mat;
@use '../../app-theme';

$theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$rose-palette,
      tertiary: mat.$red-palette,
    ),
    typography: (
      brand-family: 'Roboto',
      plain-family: 'Roboto',
    ),
  )
);

@include mat.color-variants-backwards-compatibility($theme);
@include app-theme.theme($theme);
