body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  * {
    scrollbar-width: thin;
  }
}

.page-container {
  @apply flex flex-col gap-2 after:justify-center w-full h-full pb-8;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.overflow-container {
  @apply flex h-full;
  overflow: auto;
}

h1 {
  @media (max-width: 650px) {
    font-size: 30px !important;
    font-weight: 300 !important;
    line-height: 40px !important;
  }

  @media (min-width: 650px) {
    font-size: 50px !important;
    font-weight: 500 !important;
    line-height: 56px !important;
  }
}

h2 {
  @media (max-width: 650px) {
    font-size: 25px !important;
    font-weight: 300 !important;
    line-height: 30px !important;
  }

  @media (min-width: 650px) {
    font-size: 35px !important;
    font-weight: 300 !important;
    line-height: 45px !important;
  }
}

h3 {
  @media (max-width: 650px) {
    font-size: 20px !important;
    font-weight: 300 !important;
    line-height: 20px !important;
  }

  @media (min-width: 650px) {
    font-size: 30px !important;
    font-weight: 300 !important;
    line-height: 40px !important;
  }
}

p {
  white-space: pre-wrap;
}

mat-card {
  mat-card-title {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

mat-card-content {
  @media (max-width: 900px) {
    mat-card-content {
      margin: 0 !important;
    }
  }
}

mat-card-header {
  @apply border-b w-full;
  padding-left: 0 !important;

  &:first-child {
    @apply pb-2;

    .mat-mdc-card-header-text {
      width: 100%;
      // shrink
      flex-shrink: 1;
    }
  }
}

/*
  * A way to make a button's content full width, otherwise it will be centered because this span is an inline element containing the button's content.
  */
.button-width-100 {
  .mdc-button__label {
    width: 100%;
  }
}

.h-screen-dvh {
  height: 100dvh; /* Height will adapt to the address bar's appearance */
}

.sidenav-item {
  height: 52px !important;
}

.mdc-button__label,
.mat-mdc-menu-item-text {
  font-size: medium !important;
}
