body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  * {
    scrollbar-width: thin;
  }
}

.page-container {
  @apply flex flex-col gap-2 after:justify-center w-full h-full pb-8;
  max-width: 900px;
  margin: 0 auto;
}

.overflow-container {
  @apply flex h-full;
  overflow: auto;
}

h1 {
  font-size: 50px !important;
  font-weight: 500 !important;
  line-height: 56px !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 40px !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
}

h4 {
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 20px !important;
}

p {
  white-space: pre-wrap;
}

.content-text:not(.mat-icon-button):not(.mat-button) {
  font-size: larger;
  line-height: 2;
}

mat-card {
  mat-card-title {
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

@media (min-width: 900px) {
  mat-card-content {
    margin: 0 16px !important;
  }
}

@media (max-width: 900px) {
  mat-card-content {
    margin: 0 8px !important;
  }
}

mat-card-header {
  padding-left: 0 !important;
}

/*
  * A way to make a button's content full width, otherwise it will be centered because this span is an inline element containing the button's content.
  */
.button-width-100 {
  .mdc-button__label {
    width: 100%;
  }
}

.h-screen-dvh {
  height: 100dvh; /* Height will adapt to the address bar's appearance */
}

.header {
  @apply px-4;
}

.sidenav-item {
  height: 52px !important;
}
