html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  * {
    scrollbar-width: thin;
    line-height: 2em;
  }
}

.page-container {
  @apply flex flex-col gap-2 after:justify-center w-full h-full;
  max-width: 900px;
  margin: 0 auto;
}

.overflow-container {
  @apply flex h-full;
  overflow: auto;
}

h1 {
  font-size: 50px !important;
  font-weight: 500 !important;
  line-height: 56px !important;
}

h2 {
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 28px !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 300 !important;
  line-height: 24px !important;
}

h4 {
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 20px !important;
}

.mat-icon {
  font-size: 18px;
  align-content: center;
}

mat-card {
  mat-card-title {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  @media (min-width: 600px) {
    mat-card-content {
      margin-top: 8px;
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }

  @media (max-width: 600px) {
    mat-card-content {
      padding: 0px 8px !important;
    }
  }
}

.p-0 {
  padding: 0 !important;
}

@media (min-width: 600px) {
  p:before {
    content: '';
    display: inline-block;
    width: 60px;
  }
}

@media (max-width: 600px) {
  p:before {
    content: '';
    display: inline-block;
    width: 30px;
  }
}

/*  A way to make a button's content full width. 
    As per the current version of Angular Material,   
    this wraps the content of whatever I put inside the button 
*/
.button-width-100 {
  .mdc-button__label {
    width: 100%;
  }
}

.h-screen-dvh {
  height: 100dvh; /* Height will adapt to the address bar's appearance */
}
