<ng-container *transloco="let t">
  <div class="page-container pt-4">
    <div
      [ngClass]="{ 'background-primary': !sidenavContainerService.isHandheld }"
      class="flex flex-col items-center pb-6 pt-2 gap-4 overgrown-full-width"
    >
      <h1 class="text-center">{{ t('resume.title') }}</h1>
      <h2 class="text-center">{{ t('resume.subtitle') }}</h2>
    </div>

    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="flex justify-end">
          <button mat-button (click)="resumeService.generatePdf()">
            {{ t('labels.resume.download') }}
            <mat-icon>download</mat-icon>
          </button>
        </div>
        <!-- Intro -->
        <app-resume-card
          [resumeCardData]="[
          {
            plainText: t('resume.sections.about.short_intro'),
            dictionaries: [
              {
                key: t('resume.sections.about.buzzwords.key'),
                value: t('resume.sections.about.buzzwords.value'),
              },
              {
                key: t('resume.sections.about.languages.key'),  
                value: t('resume.sections.about.languages.value'),
              },
            ],
          },
        ]"
        >
        </app-resume-card>

        <!-- Experience -->
        <app-resume-card
          [resumeCardData]="[
            {
              date: t('resume.sections.experience.allround.date'),
              lines: t('resume.sections.experience.allround.lines'),

              title: t('resume.sections.experience.allround.title'),
              location: t('resume.sections.experience.allround.location'),
            },
            {
              date: t('resume.sections.experience.codecrowd.date'),
              lines: t('resume.sections.experience.codecrowd.lines'),

              title: t('resume.sections.experience.codecrowd.title'),
              location: t('resume.sections.experience.codecrowd.location'),
            },
        ]"
          [title]="t('resume.sections.experience.label')"
        >
        </app-resume-card>

        <!-- Volunteering -->
        <app-resume-card
          [resumeCardData]="[
          {
          date: t(
            'resume.sections.volunteering.itsupport.date'
          ),
          lines: 
            t(
              'resume.sections.volunteering.itsupport.lines'
            ),
          
          title: t(
            'resume.sections.volunteering.itsupport.title'
          ),
          location: t(
            'resume.sections.volunteering.itsupport.location'
          ),
        },
      ]"
          [title]="t('resume.sections.volunteering.label')"
        >
        </app-resume-card>

        <!-- Education -->
        <app-resume-card
          [resumeCardData]="[
        {
          date: t(
            'resume.sections.education.university.date'
          ),
          lines: t(
            'resume.sections.education.university.lines'
          ),
          title: t(
            'resume.sections.education.university.title'
          ),
          location: t(
            'resume.sections.education.university.location'
          ),
        },
      ]"
          [title]="t('resume.sections.education.label')"
        >
        </app-resume-card>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
