.profile-image-frame {
  @apply block;
  width: 128px;
  height: auto;
  // margin: 0 auto;
  // display: block;
  // margin-top: 20px;

  img {
    border: 4px solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo {
  @apply m-2;
  width: 24px;
  height: 24px;
}
