<ng-container *transloco="let t">
  <div class="page-container">
    <app-about-header></app-about-header>

    <mat-card appearance="outlined" class="mt-4">
      <mat-card-header>
        <mat-card-title> About me </mat-card-title>
      </mat-card-header>
      <mat-card-content class="overflow-auto">
        Hey there! I'm a Full-Stack Software Engineer with proven track record
        of delivering robust and scalable web applications. With a strong
        foundation in Angular, .NET, and Azure, I enjoy using my skills to
        deliver solutions that promote business growth. With experience in
        designing, developing and testing, to deploying, releasing and
        monitoring of web applications, I have deep knowledge of both technical
        and strategic elements of the application lifecycle process. My skills
        range from architecting complex microservices systems, implementing
        user-friendly interfaces, configuring and maintaining DevOps
        functionality, to project management, sprint planning, requirements
        gathering and client expectations management.
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="mt-4">
      <mat-card-content class="overflow-auto">
        Amet commodo aliquip ex cupidatat. Commodo est elit ad esse nostrud
        aliqua fugiat occaecat aliquip eiusmod labore magna ipsum eiusmod.
        Cillum elit adipisicing aute velit irure velit. Pariatur mollit
        cupidatat cillum ullamco eiusmod est. Laboris qui non nulla in culpa est
        commodo tempor cupidatat reprehenderit pariatur enim consectetur elit.
        Ullamco ullamco tempor aliquip tempor duis est sit commodo dolore
        ullamco esse. Dolore cillum et ullamco nulla id anim et ullamco veniam
        amet cillum aliquip sunt sit. Eiusmod cillum incididunt labore aute nisi
        aliqua amet cupidatat proident dolor incididunt esse nostrud commodo
        cupidatat. Amet commodo aliquip ex cupidatat. Commodo est elit ad esse
        nostrud aliqua fugiat occaecat aliquip eiusmod labore magna ipsum
        eiusmod. Cillum elit adipisicing aute velit irure velit. Pariatur mollit
        cupidatat cillum ullamco eiusmod est. Laboris qui non nulla in culpa est
        commodo tempor cupidatat reprehenderit pariatur enim consectetur elit.
        Ullamco ullamco tempor aliquip tempor duis est sit commodo dolore
        ullamco esse. Dolore cillum et ullamco nulla id anim et ullamco veniam
        amet cillum aliquip sunt sit. Eiusmod cillum incididunt labore aute nisi
        aliqua amet cupidatat proident dolor incididunt esse nostrud commodo
        cupidatat. Amet commodo aliquip ex cupidatat. Commodo est elit ad esse
        nostrud aliqua fugiat occaecat aliquip eiusmod labore magna ipsum
        eiusmod. Cillum elit adipisicing aute velit irure velit. Pariatur mollit
        cupidatat cillum ullamco eiusmod est. Laboris qui non nulla in culpa est
        commodo tempor cupidatat reprehenderit pariatur enim consectetur elit.
        Ullamco ullamco tempor aliquip tempor duis est sit commodo dolore
        ullamco esse. Dolore cillum et ullamco nulla id anim et ullamco veniam
        amet cillum aliquip sunt sit. Eiusmod cillum incididunt labore aute nisi
        aliqua amet cupidatat proident dolor incididunt esse nostrud commodo
        cupidatat. Amet commodo aliquip ex cupidatat. Commodo est elit ad esse
        nostrud aliqua fugiat occaecat aliquip eiusmod labore magna ipsum
        eiusmod. Cillum elit adipisicing aute velit irure velit. Pariatur mollit
        cupidatat cillum ullamco eiusmod est. Laboris qui non nulla in culpa est
        commodo tempor cupidatat reprehenderit pariatur enim consectetur elit.
        Ullamco ullamco tempor aliquip tempor duis est sit commodo dolore
        ullamco esse. Dolore cillum et ullamco nulla id anim et ullamco veniam
        amet cillum aliquip sunt sit. Eiusmod cillum incididunt labore aute nisi
        aliqua amet cupidatat proident dolor incididunt esse nostrud commodo
        cupidatat.
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
