@use '@angular/material' as mat;

@mixin theme($theme) {
  .item-selected {
    background: rgba(mat.get-theme-color($theme, primary), 0.1) !important;
  }

  app-navbar {
    color: mat.get-theme-color($theme, primary);

    .navbar,
    .navbar-header {
      background: mat.get-theme-color($theme, primary-container);

      .navbar-header-item-selected {
        background: rgba(mat.get-theme-color($theme, primary), 0.1) !important;
      }
    }
  }

  .navbar-title {
    color: mat.get-theme-color($theme, on-primary-container);
    font-size: 50px;
    line-height: 50%;
  }
}
