<nav
  class="navbar-header flex mx-2 py-1 flex-row flex-wrap items-center justify-between relative"
>
  <div class="flex flex-row items-center">
    <ng-container *transloco="let t">
      <a mat-button routerLinkActive="item-selected" routerLink="about">
        👋 {{ t('navbar.about') }}
      </a>

      <a mat-button routerLinkActive="item-selected" routerLink="resume">
        📃 {{ t('navbar.resume') }}
      </a>
    </ng-container>
  </div>

  <div class="flex flex-row items-center">
    <language-picker></language-picker>
    <theme-picker></theme-picker>
  </div>
</nav>
