<nav
  class="flex mx-2 py-1 flex-row flex-wrap items-center justify-between relative"
>
  @if (sidenavContainerService.isHandheld) {
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon color="primary">menu</mat-icon>
  </button>
  } @if (!sidenavContainerService.isHandheld) {
  <app-sections-navigator> </app-sections-navigator>
  }

  <div class="flex flex-row items-center">
    <language-picker></language-picker>
    <theme-picker></theme-picker>
  </div>
</nav>

<app-qt-aliens> </app-qt-aliens>
