@media (max-width: 600px) {
  .aliens-container {
    left: 0;
    right: 40%;
  }
}

@media (min-width: 600px) {
  .aliens-container {
    left: 0;
    right: 0;
  }
}

.aliens {
  width: 40px;
  height: fit-content;
  animation: aliens 30s linear infinite;
}

.aliens-container {
  position: absolute;
  top: 4px;
  margin-inline: auto;
  width: fit-content;
}

@keyframes aliens {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
