::ng-deep .mat-mdc-menu-panel {
  max-width: 100% !important;
  border-radius: 16px !important;
  .mat-mdc-menu-content {
    padding: 0 !important;
  }
}

mat-card {
  padding: 0 !important;
}

mat-card-header {
  padding: 16px 0 16px 0 !important;
}
