<mat-sidenav-container class="app-background">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [mode]="'over'"
    [opened]="false"
    [autoFocus]="false"
  >
    <div class="flex flex-col justify-between h-full overflow-hidden">
      <app-sections-navigator [isHandheld]="true"></app-sections-navigator>
      <div
        mat-button
        class="flex flex-1 justify-center items-center"
        (click)="emptySpaceClickedNumber >= 7 ? null : emptySpaceClicked()"
      >
        @if (displayListenButton) {
        <button class="mic-button" (click)="startListening()" mat-icon-button>
          <mat-icon>mic</mat-icon>
        </button>
        }
      </div>
      <app-footer [isHandheld]="true"></app-footer>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="overflow-y-auto overflow-x-hidden">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
