@use '@angular/material' as mat;

@mixin theme($theme) {
  app-resume {
    .header-background {
      background: mat.get-theme-color($theme, primary-container);
    }

    .header-headline {
      color: mat.get-theme-color($theme, on-primary-container);
    }

    .sticky-background {
      background: mat.get-theme-color($theme, surface);
    }

    app-resume-card {
      color: mat.get-theme-color($theme, on-surface-variant);

      mat-card {
        border-color: mat.get-theme-color($theme, primary-container) !important;
      }
    }

    app-resume-dictionary {
      color: mat.get-theme-color($theme, on-surface-variant);
    }

    .resume-card-separator {
      border-color: rgba(mat.get-theme-color($theme, on-surface-variant), 0.2);
    }

    .homepage-row,
    .homepage-carousel-row h2,
    a.featured-components-carousel-item,
    .homepage-guides-card,
    a.link:hover {
      color: mat.get-theme-color($theme, on-surface-variant);
    }

    [carousel-item]:hover,
    [carousel-item]:focus {
      outline: none;

      .homepage-guides-card {
        background: mat.get-theme-color($theme, surface-dim);
      }
    }
  }
}
