.img-frame {
  display: block;
  width: 250px;

  .img-container {
    border: 4px solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

.button-logo {
  @apply m-2;
  width: 24px;
  height: 24px;
}

.img-container {
  margin: 0 auto;
}
