.profile-image-frame {
  @apply block;
  width: 250px;
  height: auto;

  img {
    border: 4px solid;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button-logo {
  @apply m-2;
  width: 24px;
  height: 24px;
}

.profile-image-container {
  margin: 0 auto;
}
