<ng-container *transloco="let t">
  <div
    class="flex flex-row flex-wrap items-center"
    [ngClass]="{ 'gap-2': isHandheld }"
  >
    @for (section of sections; track section.label){
    <a
      [ngClass]="{ 'sidenav-button w-full sidenav-item': isHandheld }"
      mat-button
      (click)="onClick()"
      routerLinkActive="item-selected"
      routerLink="{{ section.route }}"
    >
      {{ t(section.label) }}
      <mat-icon>{{ section.icon }}</mat-icon>
    </a>
    }
  </div>
</ng-container>
