<button mat-button [matMenuTriggerFor]="languagePicker">
  <span [ngClass]="{ uppercase: !isHandheld }">{{
    getLanguageName(this.translationService.activeLang())
  }}</span>
  <mat-icon>language</mat-icon>
</button>
<mat-menu #languagePicker="matMenu" xPosition="before">
  @for (lang of languages; track lang) {
  <button
    [ngClass]="{ uppercase: !isHandheld }"
    mat-menu-item
    [class]="
      this.translationService.activeLang() === lang ? 'item-selected' : ''
    "
    (click)="this.translationService.changeLanguage(lang)"
  >
    <span class="uppercase">{{ lang }}</span>
  </button>
  }
</mat-menu>
