@use '@angular/material' as mat;

@mixin theme($theme) {
  .app-background {
    background: linear-gradient(
      to bottom,
      mat.get-theme-color($theme, primary-container),
      190px,
      mat.get-theme-color($theme, surface) 190px
    );

    scrollbar-color: rgba(mat.get-theme-color($theme, primary), 0.3)
      mat.get-theme-color($theme, primary-container);

    color: mat.get-theme-color($theme, on-surface-variant);
  }

  mat-sidenav {
    background: rgba(
      mat.get-theme-color($theme, primary-container),
      0.6
    ) !important;

    backdrop-filter: blur(16px);
  }

  .background-primary {
    background: mat.get-theme-color($theme, primary-container) !important;
  }

  /*
    * For mobile devices, the background is transparent otherwise
    */
  html {
    @apply background-primary;
  }

  h1,
  h2,
  h3,
  h4,
  mat-card-title {
    color: mat.get-theme-color($theme, on-primary-container);
  }

  .color-primary {
    color: mat.get-theme-color($theme, primary) !important;
  }

  .emoji-color-primary {
    color: transparent;
    text-shadow: 0 0 0 mat.get-theme-color($theme, primary) !important;
  }

  .color-secondary {
    color: mat.get-theme-color($theme, secondary);
  }

  .emoji-color-secondary {
    color: transparent;
    text-shadow: 0 0 0 mat.get-theme-color($theme, secondary) !important;
  }

  .color-primary-50 {
    color: rgba(mat.get-theme-color($theme, primary), 0.8);
  }

  @media (min-width: 900px) {
    mat-card {
      border-color: mat.get-theme-color($theme, primary-container) !important;
    }
  }

  @media (max-width: 900px) {
    mat-card {
      border-color: transparent !important;
    }
  }

  .border-primary-container {
    border-color: mat.get-theme-color($theme, primary-container) !important;
  }

  .img-frame {
    .img-container {
      border-color: mat.get-theme-color($theme, primary-container) !important;
    }
  }

  .item-selected {
    background: rgba(mat.get-theme-color($theme, primary), 0.1) !important;
  }

  .footer {
    background-color: mat.get-theme-color($theme, primary-container) !important;
  }

  app-navbar {
    color: mat.get-theme-color($theme, primary);
    background: mat.get-theme-color($theme, primary-container);
  }
}
