@use '@angular/material' as mat;

@use 'app/shared/navbar/navbar-theme';
@use './app/shared/theme-picker/theme-picker-theme';
@use './app/resume/resume-theme';

// Styles for the docs app that are based on the current theme.
@mixin theme($theme) {
  .app-background {
    // background: ;
    background: linear-gradient(
      to bottom,
      mat.get-theme-color($theme, primary-container),
      190px,
      mat.get-theme-color($theme, surface) 190px
    );
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: mat.get-theme-color($theme, on-surface-variant)
      mat.get-theme-color($theme, surface-variant);
  }

  .docs-help-support {
    color: mat.get-theme-color($theme, on-surface);

    a {
      color: mat.get-theme-color($theme, on-surface-variant);
    }
  }

  @include navbar-theme.theme($theme);
  @include resume-theme.theme($theme);
  @include theme-picker-theme.theme($theme);
}
