@use '@angular/material' as mat;
@use './app-theme';
@use './styles/general';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$theme: mat.define-theme();

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

@include app-theme.theme($theme);

:root,
html {
  @apply overflow-hidden;
  font-family: Merriweather;
  @include mat.all-component-themes($theme);
}

h1,
h2,
h3,
.mat-mdc-card-title,
.mat-mdc-form-field {
  font-family: Merriweather !important;
}
