<ng-container *transloco="let t">
  <!-- class="text-center px-4 py-1 flex xs:flex-row flex-col xs:justify-between justify-start xs:items-center w-full text-xs font-mono emoji-color-secondary" -->
  <div
    class="text-center px-1 py-1 flex flex-row justify-between items-center w-full text-xs font-mono emoji-color-secondary relative"
  >
    <span class="flex justify-start">v{{ version }}</span>
    <span
      class="emoji-color-primary text-4xl absolute mx-0 my-auto bottom-0 w-full"
    >
      🐄
    </span>
    <a
      href="https://github.com/hidragos/personal-website"
      class="hover:underline"
      target="_blank"
      >brewed with ❤️ at github</a
    >
  </div>
</ng-container>
