<ng-container *transloco="let t">
  <div
    class="text-center px-1 py-1 flex flex-row justify-between items-end w-full text-xs font-mono emoji-color-secondary relative footer mt-4"
  >
    <span class="flex justify-start">v{{ version }}</span>
    <span
      class="emoji-color-primary text-4xl absolute mx-0 my-auto bottom-0 w-full pb-8"
    >
      🐄
    </span>
    <a
      href="https://github.com/hidragos/personal-website"
      class="hover:underline"
      target="_blank"
      >brewed with ❤️ at github</a
    >
  </div>
</ng-container>
