@if (isHandheld) {
<div class="flex flex-col theme-picker-menu background-primary pb-4">
  <h4 class="pl-3 pt-2 mb-2">Theme</h4>
  <div *ngFor="let theme of this.themeService.THEMES">
    <button
      class="button-width-100 w-full"
      mat-button
      [class]="
        this.themeService.currentTheme() === theme ? 'item-selected' : ''
      "
      (click)="this.themeService.selectTheme(theme.name)"
    >
      <div class="flex flex-row w-full justify-between items-start">
        <svg class="theme-icon" width="80" height="80" viewBox="0 0 80 80">
          <path
            [attr.fill]="theme.background"
            d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
          />
          <path
            [attr.fill]="theme.color"
            d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
          />
          <path [attr.fill]="theme.color" d="M0 0h80v17.24H0V0z" />
        </svg>
        <span>{{ theme.displayName }}</span>
      </div>
    </button>
  </div>
  <div class="text-center mt-2">
    <mat-button-toggle-group
      [value]="themeService.themeType()"
      (change)="this.themeService.toggleThemeType()"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        value="light"
        (click)="this.themeService.selectTheme('light')"
      >
        <mat-icon>light_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="dark"
        (click)="this.themeService.selectTheme('dark')"
      >
        <mat-icon>dark_mode</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

} @else {

<button mat-icon-button [mat-menu-trigger-for]="themeMenu" [color]="'primary'">
  <mat-icon>palette</mat-icon>
</button>

<mat-menu #themeMenu="matMenu" xPosition="before" class="theme-picker-menu">
  @for (theme of this.themeService.THEMES; track theme) {
  <button
    mat-menu-item
    [class]="this.themeService.currentTheme() === theme ? 'item-selected' : ''"
    (click)="this.themeService.selectTheme(theme.name)"
  >
    <span>{{ theme.displayName }}</span>
    <svg
      matMenuItemIcon
      class="theme-icon"
      width="80"
      height="80"
      viewBox="0 0 80 80"
    >
      <path
        [attr.fill]="theme.background"
        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
      />
      <path
        [attr.fill]="theme.color"
        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
      />
      <path [attr.fill]="theme.color" d="M0 0h80v17.24H0V0z" />
    </svg>
  </button>
  }
  <div class="text-center mt-2">
    <mat-button-toggle-group
      [value]="themeService.themeType()"
      (change)="this.themeService.toggleThemeType()"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle
        value="light"
        (click)="this.themeService.selectTheme('light')"
      >
        <mat-icon>light_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="dark"
        (click)="this.themeService.selectTheme('dark')"
      >
        <mat-icon>dark_mode</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</mat-menu>
}
