.theme-picker-menu {
  .theme-icon {
    margin-right: 0;
    margin-left: 24px;
    order: 1;
    width: 24px;
    height: 24px;
    border-radius: 4px;

    svg {
      vertical-align: middle;
    }
  }
}
